mixin intro(data)
    +el({
        class: 'intro',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        +el({
            class: 'intro__wrap',
        })
            +slogan({
                mix: 'intro__slogan',
            })
