mixin intro(data)
    +el({
        tag: 'article',
        class: 'intro',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        +el({
            class: 'intro__wrap',
        })
            +el({
                class: 'intro__slogan',
            })
