mixin intro(data)
    +el({
        class: 'intro',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        .intro__slogan-section
            +webp({
                mix: 'intro__bg-image',
                image: 'intro-bg',
                imageExp: 'jpg',
                alt: 'Дом с кровлей'
            })
            .intro__slogan-wrap
                +slogan({
                    mix: 'intro__slogan',
                })
                +button({
                    mix: 'intro__btn',
                    mod: 'bg-primary',
                    text: 'Узнать цену'
                })
        .intro__features-section
            .intro__features-wrap
                +intro-features({
                    mix: 'intro__features',
                    items: [
                        {
                            icon: 'clock',
                            mainText: 'Быстро',
                            subText: 'от 4-х дней'
                        },
                        {
                            icon: 'hands',
                            mainText: 'Выгодно',
                            subText: 'наши цены Вас порадуют'
                        },
                        {
                            icon: 'trophy',
                            mainText: 'надежно',
                            subText: 'гарантия 10 лет'
                        },
                    ]
                })
        .intro__price-order-section
            .intro__price-order-wrap
                +price-order({
                    mix: 'intro__price-order'
                })
