.intro {
  position: relative;
}

.intro__wrap {
  flex-grow: 1;
  height: 100%;
  @include wrapper;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.intro__slogan-section {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  background-color: color(light-gray);
  background-image: url(../assets/images/intro.jpg);
  background-image: url(../assets/images/intro.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.intro__slogan-wrap {
  flex-grow: 1;
  height: 100%;
  @include wrapper;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.intro__slogan {
  width: 100%;
}

.intro__features-section {
  // display: flex;
  // flex-direction: column;
}

.intro__features-wrap {

}

.intro__features {
  width: 100%;
}

.intro__price-section {
  // display: flex;
  // flex-direction: column;
}

.intro__price-wrap {

}

.intro__price {
  width: 100%;
}


@include respond-to(medium) {

}

@include respond-to(large) {
  .intro {
  }

  .intro__slogan-section {
    margin-top: auto;
    padding-top: 210px;
  }

  .intro__features-section {
    position: absolute;
    transform: translateY(calc(-100% - 90px));
    width: 100%;
  }

  .intro__features-wrap {
    width: breakpoints(large);
    margin-left: auto;
    margin-right: auto;
    padding-left: pads(large);
    padding-right: pads(large);
  }

  .intro__features {
    width: 50%;
  }
}
