/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
body,
html
{
    overflow-x: hidden; 

    width: 100%;
    min-width: 320px;
    margin: 0;
    padding: 0;
}

body
{
    font-size: 16px;
    font-weight: 400; 
    font-style: normal;
    line-height: 1.4;

    color: #000;
    background-color: #fff;
}

html
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after
{
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

button
{
    padding: 0;

    cursor: pointer; 

    border: none;
    background-color: transparent;
}

img
{
    max-width: 100%;
    height: auto;
}

a,
input,
textarea,
select,
button
{
    font: inherit;

    display: inline-block;

    text-transform: inherit; 

    color: inherit;
}

a
{
    text-decoration: underline;
}
a:hover,
a:focus
{
    text-decoration: none;
}

textarea
{
    resize: vertical;
}

body
{
    font-family: 'Exo 2', Roboto, Helvetica CY, sans-serif, Nimbus Sans L, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 16px;
    font-weight: 300; 
    font-style: normal;
    line-height: 1.5;

    color: #000;
}

.hidden
{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0); 

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}

body
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    min-height: 100vh; 

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

body > *
{
    width: 100%; 

    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.footer
{
    margin-top: auto;
}

.content__wrapper
{
    padding-right: 20px; 
    padding-left: 20px;
}
@media (min-width: 768px)
{
    .content__wrapper
    {
        padding-right: 30px; 
        padding-left: 30px;
    }
}
@media (min-width: 1200px)
{
    .content__wrapper
    {
        width: 1200px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 40px; 
        padding-left: 40px;
    }
}

.content__block
{
    margin-bottom: 64px;
}
.content__block:last-of-type
{
    margin-bottom: 0;
}

.content__heading
{
    margin-bottom: 40px;
}

@media (min-width: 768px)
{
    .content__block
    {
        margin-bottom: 150px;
    }
}

@media (min-width: 1200px)
{
    .content__block
    {
        margin-bottom: 200px;
    }
}

.button
{
    font-family: 'Exo 2', Roboto, Helvetica CY, sans-serif, Nimbus Sans L, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;

    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;

    padding: 10px 20px;

    text-align: center;
    text-decoration: none; 
    letter-spacing: 1.5px;
    text-transform: uppercase;

    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.button:disabled,
.button--disabled
{
    pointer-events: none; 

    color: #c9c9c6;
    border: 1px solid;
    border-color: #c9c9c6;
}
.button--bg-primary
{
    color: #fff; 
    background-color: #dd2c14;
}
.button--bg-primary:hover,
.button--bg-primary:focus
{
    color: rgba(255, 255, 255, .85); 
    background-color: #971e0e;
}
.button--border-primary
{
    border: 1px solid;
    border-color: #dd2c14;
}
.button--border-primary:hover,
.button--border-primary:focus
{
    color: #fff; 
    background-color: #dd2c14;
}
.button--wide
{
    width: 100%;
}

.button__icon
{
    display: inline-block;

    width: 20px;
    height: 20px;
    margin-left: 10px;
}
.button__icon svg
{
    font-family: 'object-fit: contain; object-position: center';

    display: block;

    width: 100%;
    height: 100%;

    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
    fill: currentColor;
}

@media (min-width: 768px)
{
    .button
    {
        font-size: 16px;
        line-height: 22px; 

        padding: 14px 24px;
    }
}

.button-nav
{
    width: 40px;
    height: 40px;
    padding: 6px;
}
.button-nav.active .button-nav__icon-items
{
    background-color: transparent;
}
.button-nav.active .button-nav__icon-items::before
{
    -webkit-animation-name: burger-before-open;
            animation-name: burger-before-open;
}
.button-nav.active .button-nav__icon-items::after
{
    -webkit-animation-name: burger-after-open;
            animation-name: burger-after-open;
}

.button-nav__icon
{
    display: block;

    width: 100%;
    height: 100%;
}

.button-nav__icon-items
{
    position: relative;
    top: calc(50% - 1.5px);

    display: block;

    height: 3px;

    border-radius: 1.5px;
    background-color: #000;
}
.button-nav__icon-items::before,
.button-nav__icon-items::after
{
    position: absolute;
    left: 0;

    display: block;

    width: 100%;
    height: 3px;

    content: '';
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    -webkit-animation-duration: .5s;
            animation-duration: .5s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;

    border-radius: 1.5px;
    background-color: #000;

    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}
.button-nav__icon-items::before
{
    top: -8px;
}
.button-nav__icon-items::after
{
    bottom: -8px;
}
.button-nav__icon-items::before
{
    -webkit-animation-name: burger-before-close;
            animation-name: burger-before-close;
}
.button-nav__icon-items::after
{
    -webkit-animation-name: burger-after-close;
            animation-name: burger-after-close;
}

@-webkit-keyframes burger-before-close
{
    0%
    {
        -webkit-transform: translateY(8px) rotate(45deg);
                transform: translateY(8px) rotate(45deg);
    }
    50%
    {
        -webkit-transform: translateY(4px) rotate(0);
                transform: translateY(4px) rotate(0);
    }
    100%
    {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@keyframes burger-before-close
{
    0%
    {
        -webkit-transform: translateY(8px) rotate(45deg);
                transform: translateY(8px) rotate(45deg);
    }
    50%
    {
        -webkit-transform: translateY(4px) rotate(0);
                transform: translateY(4px) rotate(0);
    }
    100%
    {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@-webkit-keyframes burger-after-close
{
    0%
    {
        -webkit-transform: translateY(-8px) rotate(-45deg);
                transform: translateY(-8px) rotate(-45deg);
    }
    50%
    {
        -webkit-transform: translateY(-4px) rotate(0);
                transform: translateY(-4px) rotate(0);
    }
    100%
    {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@keyframes burger-after-close
{
    0%
    {
        -webkit-transform: translateY(-8px) rotate(-45deg);
                transform: translateY(-8px) rotate(-45deg);
    }
    50%
    {
        -webkit-transform: translateY(-4px) rotate(0);
                transform: translateY(-4px) rotate(0);
    }
    100%
    {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@-webkit-keyframes burger-before-open
{
    0%
    {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    50%
    {
        -webkit-transform: translateY(4px);
                transform: translateY(4px);
    }
    100%
    {
        -webkit-transform: translateY(8px) rotate(45deg);
                transform: translateY(8px) rotate(45deg);
    }
}

@keyframes burger-before-open
{
    0%
    {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    50%
    {
        -webkit-transform: translateY(4px);
                transform: translateY(4px);
    }
    100%
    {
        -webkit-transform: translateY(8px) rotate(45deg);
                transform: translateY(8px) rotate(45deg);
    }
}

@-webkit-keyframes burger-after-open
{
    0%
    {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    50%
    {
        -webkit-transform: translateY(-4px);
                transform: translateY(-4px);
    }
    100%
    {
        -webkit-transform: translateY(-8px) rotate(-45deg);
                transform: translateY(-8px) rotate(-45deg);
    }
}

@keyframes burger-after-open
{
    0%
    {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    50%
    {
        -webkit-transform: translateY(-4px);
                transform: translateY(-4px);
    }
    100%
    {
        -webkit-transform: translateY(-8px) rotate(-45deg);
                transform: translateY(-8px) rotate(-45deg);
    }
}

.button-remove
{
    display: block;

    width: 50px;
    height: 50px;
    padding: 10px;
}
.button-remove:hover .button-remove__icon::before,
.button-remove:hover .button-remove__icon::after,
.button-remove:focus .button-remove__icon::before,
.button-remove:focus .button-remove__icon::after
{
    background-color: gray;
}

.button-remove__icon
{
    position: relative;

    display: block;
}
.button-remove__icon::before,
.button-remove__icon::after
{
    position: absolute;
    top: calc(50% - 2px);
    left: 0;

    display: block;

    width: 100%;
    height: 4px;

    content: '';

    border-radius: 2px;
    background-color: #000;
}
.button-remove__icon::before
{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
.button-remove__icon::after
{
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
}

.overlay
{
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;

    width: 1px;
    height: 1px;
    margin: -1px;

    -webkit-transition-delay: .6s, .6s, .6s, 0s;
         -o-transition-delay: .6s, .6s, .6s, 0s;
            transition-delay: .6s, .6s, .6s, 0s;
    -webkit-transition-duration: 0s, 0s, 0s, .6s;
         -o-transition-duration: 0s, 0s, 0s, .6s;
            transition-duration: 0s, 0s, 0s, .6s; 
    -webkit-transition-property: width, height, margin, opacity;
         -o-transition-property: width, height, margin, opacity;
            transition-property: width, height, margin, opacity;

    opacity: 0;
    background-color: rgba(0, 0, 0, .4);
}
.overlay.active
{
    width: 100%;
    height: 100vh;
    margin: 0;

    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s; 

    opacity: 1;
}

.logo
{
    display: block;

    width: 40px;
    height: 40px;

    text-decoration: none !important;
}

.logo__image
{
    display: block;

    width: 40px;
    height: 40px;
}

.logo__text
{
    display: none;
}

@media (min-width: 768px)
{
    .logo
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        width: auto; 

        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .logo__image
    {
        margin-right: 12px;
    }
    .logo__text
    {
        font-size: 14px;
        font-weight: 700;
        line-height: 1.4; 

        display: block;
    }
}

@media (min-width: 1200px)
{
    .logo
    {
        width: auto;
        height: 70px;
    }
    .logo__image
    {
        width: 70px;
        height: 70px;
        margin-right: 15px;
    }
    .logo__text
    {
        font-size: 17px;
    }
}

.main-nav
{
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.main-nav__item
{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2; 

    margin-bottom: 10px;
}
.main-nav__item:last-child
{
    margin-bottom: 0;
}

.main-nav__link
{
    padding: 6px 10px;

    text-decoration: none; 

    color: inherit;
}
.main-nav__link:hover,
.main-nav__link:focus
{
    opacity: .6;
}

@media (min-width: 1200px)
{
    .main-nav
    {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;

        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .main-nav__item
    {
        margin-right: 20px;
    }
    .main-nav__item:last-child
    {
        margin-right: 0;
    }
}

.header
{
    position: fixed;
    z-index: 10;

    background-color: #fff;
}

.header__wrapper
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;

    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3); 

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media (min-width: 768px)
{
    .header__wrapper
    {
        padding-right: 30px; 
        padding-left: 30px;
    }
}
@media (min-width: 1200px)
{
    .header__wrapper
    {
        width: 1200px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 40px; 
        padding-left: 40px;
    }
}

.header__top
{
    margin-right: auto;
}
.header__top .header__phone
{
    display: none;
}

.header__main-nav
{
    position: fixed;
    z-index: -1;
    top: 60px;
    right: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-y: scroll;
        flex-direction: column;

    width: 280px;
    height: calc(100vh - 60px);
    padding: 40px 20px;

    -webkit-transition: .3s;
         -o-transition: .3s;
            transition: .3s; 
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);

    background-color: #fff;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}
.header__main-nav .main-nav
{
    margin-bottom: 20px;
}
.header__main-nav.active
{
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
}
.header__main-nav .header__phone
{
    margin-top: auto;
    padding: 0 10px;
}

.header__button-nav
{
    z-index: 1;
}

@media (min-width: 1200px)
{
    .header
    {
        position: static;

        background-color: transparent;
    }
    .header__wrapper
    {
            flex-direction: column;

        padding-top: 75px;
        padding-bottom: 0;

        -webkit-box-shadow: none;
                box-shadow: none; 

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }
    .header__top
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        width: 100%;
        margin-right: 0; 

        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .header__top .header__phone
    {
        display: block;
    }
    .header__main-nav
    {
        position: fixed;
        z-index: 10;
        top: 0;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        overflow-y: visible;

        width: 100%;
        height: auto;
        padding-top: 15px;
        padding-bottom: 5px;

        -webkit-transition: none;
             -o-transition: none;
                transition: none; 
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);

        background-color: rgba(255, 255, 255, .2);

        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .header__main-nav .main-nav
    {
        width: 1200px;
        margin: 0 auto;
        padding-right: 30px; 
        padding-left: 30px;
    }
    .header__main-nav .header__phone
    {
        display: none;
    }
    .header__button-nav
    {
        display: none;
    }
}

.features__heading-wrap
{
    padding-right: 20px; 
    padding-left: 20px;
}
@media (min-width: 768px)
{
    .features__heading-wrap
    {
        padding-right: 30px; 
        padding-left: 30px;
    }
}
@media (min-width: 1200px)
{
    .features__heading-wrap
    {
        width: 1200px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 40px; 
        padding-left: 40px;
    }
}

.features__item
{
    margin-bottom: 70px;
}
.features__item:last-child
{
    margin-bottom: 0;
}

@media (min-width: 768px)
{
    .features__heading
    {
        width: calc(50% - 70px);
        margin-left: auto;
    }
    .features__item
    {
        margin-bottom: 100px;
    }
}

@media (min-width: 1200px)
{
    .features__heading
    {
        width: 700px;
    }
    .features__item
    {
        margin-bottom: 140px;
    }
}

.phone-header__number
{
    font-size: 18px;
    font-weight: 700;

    display: block;

    text-decoration: none;
}

.phone-header__order
{
    font-size: 14px;
    line-height: 1.3; 

    display: block;

    text-decoration: underline;

    color: #dd2c14;
}

@media (min-width: 1200px)
{
    .phone-header__number
    {
        font-size: 20px;
    }
    .phone-header__order
    {
        margin-left: auto;
    }
}
