mixin slogan(data)
    +el({
        class: 'slogan',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        +el({
            class: 'slogan__text',
            text: 'Кровельные работы с&nbspгарантией 10&nbsp;лет в&nbsp;Симферополе и&nbspпо Крыму',
        })
        +el({
            tag: 'picture',
            class: 'slogan__picture',
        })
            source(srcset='./assets/images/slogan.webp' type='image/webp')
            source(srcset='./assets/images/slogan.jpg' type='image/jpeg')
            img(src='./assets/image/slogan.jpg' alt='Строитель')
