mixin slogan(data)
    +el({
        class: 'slogan',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        +el({
            class: 'slogan__text',
            text: 'Кровельные работы с&nbspгарантией 10&nbsp;лет в&nbsp;Симферополе и&nbspпо Крыму',
        })
        +el({
            tag: 'div',
            class: 'slogan__picture',
        })
            img(src='./assets/images/slogan.png' alt='Строитель')
